@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-font{
    font-family: 'Poppins', sans-serif
}
body{
    background-color: #1F2340;
    color: white;
    font-family: 'Poppins', sans-serif
}